inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
docs/articles/continuous_files/figure-html/nContact2-1.png
docs/articles/continuous_files/figure-html/nContact2.B-1.png
docs/articles/continuous_files/figure-html/pExit2-1.png
docs/articles/continuous_files/figure-html/pExit2-dual-1.png
docs/articles/continuous_files/figure-html/pTrans3-1.png
docs/articles/continuous_files/figure-html/pTrans3.B-1.png
docs/articles/continuous_files/figure-html/RasterCode2-1.png
docs/articles/continuous_files/figure-html/RW-1-1.png
docs/articles/continuous_files/header-attrs-2.7/header-attrs.js
docs/articles/discrete.html
docs/articles/discrete_files/figure-html/nContact2-1.png
docs/articles/discrete_files/figure-html/nContact2.B-1.png
docs/articles/discrete_files/figure-html/pExit2-dual-1.png
docs/articles/discrete_files/figure-html/pTrans3-1.png
docs/articles/discrete_files/figure-html/pTrans3.B-1.png
docs/articles/discrete_files/figure-html/setupMatrix-1.png
docs/articles/discrete_files/header-attrs-2.7/header-attrs.js
docs/articles/examples/dengue_files/figure-html/avgTemp2-1.png
docs/articles/examples/dengue_files/figure-html/avgTemp3-1.png
docs/articles/examples/dengue_files/figure-html/avgTemp5-1.png
docs/articles/index.html
docs/articles/none.html
docs/articles/none_files/figure-html/nContact2-1.png
docs/articles/none_files/figure-html/nContact2.B-1.png
docs/articles/none_files/figure-html/pExit2-dual-1.png
docs/articles/none_files/figure-html/pTrans3-1.png
docs/articles/none_files/figure-html/pTrans3.B-1.png
docs/articles/none_files/header-attrs-2.7/header-attrs.js
docs/articles/nosoi.html
docs/articles/nosoi_files/figure-html/setupMatrix-1.png
docs/articles/nosoi_files/header-attrs-2.7/header-attrs.js
docs/articles/output.html
docs/articles/output_files/figure-html/figureDynamics1_actual-1.png
docs/articles/output_files/figure-html/figureDynamics2_actual-1.png
docs/articles/output_files/figure-html/figureR0_actual-1.png
docs/articles/output_files/figure-html/treeA_actual-1.png
docs/articles/output_files/figure-html/treeB_actual-1.png
docs/articles/output_files/figure-html/treeC_actual-1.png
docs/articles/output_files/header-attrs-2.7/header-attrs.js
docs/authors.html
docs/bootstrap-toc.css
docs/bootstrap-toc.js
docs/index.html
docs/LICENSE-text.html
docs/pkgdown.css
docs/pkgdown.js
docs/pkgdown.yml
docs/reference/add_node_tip.html
docs/reference/applyFunctionToHosts.html
docs/reference/CoreSanityChecks.html
docs/reference/cumulativeInfected.html
docs/reference/drawBernouilli.html
docs/reference/dualContinuous.html
docs/reference/dualDiscrete.html
docs/reference/dualNone.html
docs/reference/endMessage.html
docs/reference/FunctionSanityChecks.html
docs/reference/get_node.html
docs/reference/get_other_count.html
docs/reference/get_position.html
docs/reference/get_state.html
docs/reference/getCumulative.html
docs/reference/getDynamic.html
docs/reference/getExitingMoving.html
docs/reference/getHostData.html
docs/reference/getPositionInfected.html
docs/reference/getR0.html
docs/reference/getTableHosts.html
docs/reference/getTableState.html
docs/reference/getTransmissionTree-1.png
docs/reference/getTransmissionTree-2.png
docs/reference/getTransmissionTree-3.png
docs/reference/getTransmissionTree.html
docs/reference/index.html
docs/reference/iniTable.html
docs/reference/iniTableState.html
docs/reference/keep.tip.treedata.html
docs/reference/keepState.html
docs/reference/makeMoves.html
docs/reference/MatrixSanityChecks.html
docs/reference/meetTransmit.html
docs/reference/merge_host_tables.html
docs/reference/moveFunction.continuous.html
docs/reference/moveFunction.discrete.html
docs/reference/moveRotateContinuous.html
docs/reference/newLine.html
docs/reference/newLineState.html
docs/reference/nosoiSim.html
docs/reference/nosoiSimConstructor.html
docs/reference/nosoiSimOneConstructor.html
docs/reference/nosoiSummary.html
docs/reference/numberInfected.html
docs/reference/numberInfectedBGW.html
docs/reference/numberInfectedStates.html
docs/reference/paramConstructor.html
docs/reference/parseFunction.html
docs/reference/progressMessage.html
docs/reference/RasterSanityChecks.html
docs/reference/Rplot001.png
docs/reference/Rplot002.png
docs/reference/Rplot003.png
docs/reference/sampleTransmissionTree-1.png
docs/reference/sampleTransmissionTree-2.png
docs/reference/sampleTransmissionTree-3.png
docs/reference/sampleTransmissionTree.html
docs/reference/sampleTransmissionTreeFromExiting-1.png
docs/reference/sampleTransmissionTreeFromExiting-2.png
docs/reference/sampleTransmissionTreeFromExiting-3.png
docs/reference/sampleTransmissionTreeFromExiting.html
docs/reference/singleContinuous-1.png
docs/reference/singleContinuous.html
docs/reference/singleDiscrete.html
docs/reference/SingleNone.html
docs/reference/updateHostCount.html
docs/reference/updateTableState.html
docs/reference/writeInfected.html
